name: Cargo checks
on:
  push:
  pull_request:
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
      - run: cargo clippy --workspace --all-features --all-targets -- -D warnings
      - run: cargo test --workspace --all-features --all-targets
      - run: cargo fmt -- --check
